language: cpp
compiler:
    - gcc
    - clang
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq fglrx opencl-headers libboost-chrono1.48-dev libboost-date-time1.48-dev libboost-filesystem1.48-dev libboost-system1.48-dev libboost-thread1.48-dev libboost-program-options1.48-dev libboost-test1.48-dev
script:
    - mkdir -p build && (cd build && cmake .. && make)
    - (cd build && ./examples/devlist && ctest --output-on-failure && ctest --output-on-failure)
